{% load staticfiles %}
{% load menu_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    {% load menu_extras %}
</head>
<body style="background-color: aliceblue">
    <div class="container">
        <h1 align="center">Up Trader test task</h1>
        <div align="center">
            {% draw_menu 'Products name' %}
            <br>
            <br>
            {% draw_menu 'Services' %}
        </div>

    </div>

</body>
</html>